<div id="page-wrapper">
    <br>
    <ol class="breadcrumb">

        <li><a href="#/">Home</a>
        </li>
        <li><a href="#/memotemplate">Memo Template</a>
        </li>
        <li class="active">Memo Details</li>

    </ol>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Memo Template - {{name}}

                    

                </div>
                <div class="panel-body">

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Name:</span>  <span class="memo_template-detail">{{name}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Category:</span>  <span class="memo_template-detail">{{category}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Slot Type:</span>  <span class="memo_template-detail">{{slotType}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Trigger:</span> <span class="memo_template-detail">{{triggerType}}</span>
                        </li>
                       <li class="list-group-item"><span class="memo_template-list">Trigger Data:</span>  <span class="memo_template-detail">{{triggerData}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Popularity:</span>  <span class="memo_template-detail">{{popularity}}</span>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Editor:</span>  <span class="memo_template-detail">{{createdBy}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Creation Date:</span>  <span class="memo_template-detail">{{date}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Last Call:</span>  <span class="memo_template-detail">{{last_call}}</span>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Visualization:</span>  <span class="memo_template-detail">{{visualization}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Suggestion:</span>  <span class="memo_template-detail">{{suggestion}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Description:</span>  <span class="memo_template-detail">{{description}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Other:</span>  <span class="memo_template-detail">{{other}}</span>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">

                   
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /#page-wrapper -->
