<div id="page-wrapper">
            <br>
            <ol class="breadcrumb">
                
                <li><a href="#/">Home</a>
                </li>
                
                <li class="active">Edit Memo Template</li>

            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1>Memo Editor</h1>
                            <div ng-hide="!success" align="center"><i class="fa fa-check-circle fa-lg" style="color:green; margin-bottom:10px;"></i>&nbsp;Saved</div>         
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <form class="form-horizontal"
										name='MemoForm'
										ng-submit='Update()'>
                                        <fieldset>

                                            <!-- Form Name -->
                                            <legend></legend>

                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-name">Name</label>
                                                <div class="col-md-5">
                                                    <input id="new-memo-name" name="new-memo-name" type="text" placeholder="Memo template name" class="form-control input-md"
                                                    ng-model='memo.name'
													ng-required=true>

                                                </div>
                                            </div>
                                            <!-- Description input-->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-name">Description</label>
                                                <div class="col-md-5">
                                                    <textarea class="form-control" id="new-memo-text" name="new-memo-text" ng-model='memo.description'></textarea>
                                                    

                                                </div>
                                            </div>
                                            

                                            <!-- Select Basic -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-category">Category</label>
                                                <div class="col-md-5">
                                                    <select id="new-memo-category" name="new-memo-category" class="form-control"
                                                     ng-model='memo.category'
													 ng-required=true>
                                                        <option value="">- Choose</option>
                                                        <option ng-repeat="category in categories" value="{{category._id}}" data-ng-model="selectedCatOption">{{category.title}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--                     Select  Content -->

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-content">Content Type</label>
                                                <div class="col-md-5">
                                                    <select id="new-memo-content" name="new-memo-content" class="form-control"
                                                     ng-model='memo.type'
													 ng-required=true>
                                                        <option value="">- Choose</option>
                                                        <option ng-repeat="type in types" value="{{type.name}}">{{type.name}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <!--                     Select  Trigger -->

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-trigger">Trigger Type</label>
                                                <div class="col-md-5">
                                                    <select id="new-memo-trigger" name="new-memo-trigger" class="form-control"
                                                     ng-model='memo.trigger'
													 ng-required=true>
                                                        <option value="">- Choose</option>
                                                        <option ng-repeat="trigger in triggers" value="{{trigger.name}}">{{trigger.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            
                                            <!--                     TriggerData -->
                                            
                                            <div class="form-group" ng-if="memo.trigger=='Timer'">
                                                <label class="col-md-3 control-label" for="new-memo-repeat">Repeat</label>
                                                <div class="col-md-5">
                                                    <select id="new-memo-repeat" name="new-memo-repeat" class="form-control"
                                                     ng-model='memo.repeat'
													 ng-required=true>
                                                        <option value="">- Choose</option>
                                                        <option value="0">No repeat</option>
                                                        <option value="1">Annual event</option>
                                                        <option value="2">Monthly event</option>
                                                        <option value="3">Daily event</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="memo.trigger=='Timer' && memo.repeat==3">
                                                <label class="col-md-3 control-label" for="new-memo-trigger">Day of Week</label>
                                                <div class="col-md-5">
                                                    
                                                    <div class="row">
														<div class="col-md-12" ng-init="memo.day = {mo: false, tu: false, we: false, th: false, fr: false, sa: false, su: false}">
															
															<input type="checkbox" ng-checked="false"
																ng-model='memo.day.mo'
																>
															Monday<br>
				
															<input type="checkbox" 
																ng-model='memo.day.tu'
																>
															Tuesday
															<br>
															<input type="checkbox"  
																ng-model='memo.day.we'
																>
															Wednesday
															<br>
															<input type="checkbox" 
																ng-model='memo.day.th'
																>
															Thursday 
															<br>
															<input type="checkbox"  
																ng-model='memo.day.fr'
																>
															Friday
															<br>
															<input type="checkbox" 
																ng-model='memo.day.sa'
																>
															Saturday
															<br>
															<input type="checkbox"  
																ng-model='memo.day.su'
																>
															Sunday
															
														</div>
                                                   </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <!-- Select  Priority -->

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="new-memo-priority">Prority Type</label>
                                                <div class="col-md-5">
                                                    <select id="new-memo-priority" name="new-memo-priority" class="form-control"
                                                     ng-model='memo.priority'
													 ng-required=true>
                                                        <option value="">- Choose</option>
                                                        <option value="0">Light</option>
                                                        <option value="1">Medium</option>
                                                        <option value="2">Strong</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div div class="col-lg-6">
                                                    <button type="submit" class="btn btn-success">Update Memo Template</button>  <!-- ng-disabled='!MemoForm.$valid' -->
                                                </div>
                                                <div div class="col-lg-6" style="text-align: right">
                                                    <button class="btn btn-goBack" >Go Back</button>  <!-- ng-disabled='!MemoForm.$valid' -->
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                            

                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- /#page-wrapper -->
