<div id="page-wrapper">
            <br>
            <ol class="breadcrumb">

                <li><a href="#/">Home</a>
                </li>
                <li class="active">New Notification</li>

            </ol>


            <div class="row">

                <div class="col-lg-12">

                    <div class="panel panel-default">

                        <div class="panel-heading">


                            <h1>Notification Editor</h1>
                            <div ng-hide="!success" align="center"><i class="fa fa-check-circle fa-lg" style="color:green; margin-bottom:10px;"></i>&nbsp;Saved</div>         
                        </div>

                        <div class="panel-body">


                            <!--  form di notifica  -->

                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <form class="form-horizontal"
									name='NotificationForm'
									ng-submit='Create()'>
                                    
                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend></legend>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-name">Title</label>
                                            <div class="col-md-5">
                                                <input id="notific-name" name="notific-title" type="text" placeholder="Notification title" class="form-control input-md"
                                                ng-model='notification.title'
												ng-required=true>

                                            </div>
                                        </div>

										 <!-- Textarea -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-text">Content</label>
                                            <div class="col-md-4">
                                                <textarea class="form-control" id="notific-message" name="notific-message"
                                                ng-model='notification.message'
												ng-required=true></textarea>
                                            </div>
                                        </div>

										<div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-name">URL</label>
                                            <div class="col-md-5">
                                                <input id="notific-url" name="notific-url" type="text" placeholder="Notification URL" class="form-control input-md"
                                                ng-model='notification.url'
												>

                                            </div>
                                        </div>

                                        <!-- Select Basic -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-priority">Priority</label>
                                            <div class="col-md-5">
                                                <select id="notific-priority" name="notific-priority" class="form-control"
                                                 ng-model='notification.priority'
												 ng-required=true>
													<option value="">- Choose</option>
                                                    <option value="0">Light</option>
                                                    <option value="1">Medium</option>
                                                    <option value="2">Strong</option>
                                                </select>
                                            </div>
                                        </div>
                                      

                                        <!-- Select Viz -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-viz">Icon</label>
                                            <div class="col-md-5">
                                                
                                                
                                                <div class="icon-not icon-not-border" ng-class="{ 'icon-not-border-red' : notification.icon=='tutorial' }">
														<a ng-click="notification.icon='tutorial'"><img src="images/tutorial.png" style="width:45px; height:45px;" title="tutorial"></a>
												</div>								
                                                <div class="icon-not icon-not-border" ng-class="{ 'icon-not-border-red' : notification.icon=='update' }">
														<a ng-click="notification.icon='update'"><img src="images/update.png" style="width:45px; height:45px;" title="update"></a>
												</div>	
												<div class="icon-not icon-not-border" ng-class="{ 'icon-not-border-red' : notification.icon=='news' }">
														<a ng-click="notification.icon='news'"><img src="images/news.png" style="width:45px; height:45px;" title="news"></a>
												</div>	
												<div class="icon-not icon-not-border" ng-class="{ 'icon-not-border-red' : notification.icon=='system' }">
														<a ng-click="notification.icon='system'"><img src="images/system.png" style="width:45px; height:45px;" title="system"></a>
												</div>	
												
                                                <input type="hidden" ng-model="notification.icon" ng-required=true>
                                                
                                                
                                            </div> 
                                        </div>


                                        <!-- Select Viz -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="notific-priority">Target</label>
                                            <div class="col-md-5">
                                                <select id="notific-priority" name="notific-priority" class="form-control" 
                                                ng-model='notification.target'
                                                ng-required=true>
                                                    <option value="">- Choose</option>
                                                    <option value="usersAll">usersAll</option>
                                                    <option value="userTags">users tags</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        
                                        <!-- TAG -->
                                         <div class="form-group" ng-if="notification.target=='userTags'">
                                            <label class="col-md-3 control-label" for="notific-priority">Tags</label>
                                            <div class="col-md-7 tag-user-listtag">                                              
                                               &nbsp;<button type="button" class="btn btn-xs" ng-repeat="tag in tagsSelected" style="background-color:{{tag.color}}; color:#fff;  font-weight: bold; margin-right:5px;" ng-click="deleteTagNotification(tag._id, $index);">{{tag.label}}  ({{tag.count}})<span class="glyphicon glyphicon-remove"></span></button>                                                                                              
                                            </div>
                                            <div class="col-md-1">
                                             <button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-user"></span></button> {{totalUser}}
											</div>
                                        </div>
										
										<div class="form-group" ng-if="notification.target=='userTags'">
                                            <label class="col-md-3 control-label" for="notific-priority">Choose Tag</label>
                                            <div class="col-md-8 tag-user-listtag">                                              
                                               &nbsp;<button type="button" class="btn btn-xs" ng-repeat="tag in tags" style="background-color:{{tag.color}}; color:#fff; font-weight: bold; margin-right:5px;" ng-click="addTagNotification(tag._id);">{{tag.label}} ({{tag.count}})</button>                                                                                             
                                            </div>
                                        </div>   
									
										
										<button type="submit" class="btn btn-success" ng-disabled='!NotificationForm.$valid'>Send Notification</button>

                                    </fieldset>
                                </form>
                            </div>


                            <div class="col-lg-12">
                                <hr>
                            </div>

                            
                                
                        </div>

                        <div class="panel-footer">

                            

                        </div>

                    </div>

                </div>

            </div>


            <!--  NOtification -->



            <!--  /.notification  -->

        </div>
        <!-- /#page-wrapper -->
