<div id="page-wrapper">
    <br>
    <ol class="breadcrumb">

        <li><a href="#/">Home</a>
        </li>
        <li><a href="#/notification"notification">Notifications</a>
        </li>
        <li class="active">Single Notification</li>

    </ol>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Notification - {{name}}

                    
                </div>
                <div class="panel-body">

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Name:</span>  <span class="memo_template-detail">{{name}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Message:</span>  <span class="memo_template-detail">{{message}}</span>
                        </li>
                         <li class="list-group-item"><span class="memo_template-list">URL:</span>  <span class="memo_template-detail">{{url}}</span>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Editor:</span>  <span class="memo_template-detail">{{sender}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Creation Date:</span>  <span class="memo_template-detail">{{datecreated}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Send Date:</span>  <span class="memo_template-detail">{{datesend}}</span>
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item"><span class="memo_template-list">Priority:</span>  <span class="memo_template-detail">{{priority}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Target:</span>  <span class="memo_template-detail">{{target}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Icon:</span>  <span class="memo_template-detail">{{icon}}</span>
                        </li>
                        <li class="list-group-item"><span class="memo_template-list">Recipients:</span>  <span class="memo_template-detail">{{recipients}}</span>
                        </li>
                        
                    </ul>
                </div>
                <div class="panel-footer">

<!--
                    <button type="button" class="btn pull-right btn-success" data-toggle="dropdown" aria-expanded="false">New Notification</button>
                    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">New Suggestion</button> -->
                </div>
            </div>
        </div>


    </div>





</div>
<!-- /#page-wrapper -->
