<div id="page-wrapper">
            <br>
            <ol class="breadcrumb">  
                <li><a href="#/">Home</a></li>
                <li class="active" ng-if="!catid">All Animae</li>
                
                <li class="active" ng-if="catid"><a href="#/animae-free">All Animae</a></li>
                <li class="active" ng-if="catid">{{category}}</li>
            </ol>
            
            
            <!-------------------------------  General   -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">

                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totanimae}}</div>
                                    <div>Total Animae Created</div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="panel panel-primary panel-grid">
                        <div class="row">
                            
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/1">{{cat1}} <div class="num-anime-categoria-x">{{animae1}}</div> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                       <a href="#/animae-free/category/2">{{cat2}} <div class="num-anime-categoria-x">{{animae2}}</div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                       <a href="#/animae-free/category/3">{{cat3}} <div class="num-anime-categoria-x">{{animae3}}</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/4">{{cat4}} <div class="num-anime-categoria-x">{{animae4}}</div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/5">{{cat5}} <div class="num-anime-categoria-x">{{animae5}}</div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/6">{{cat6}} <div class="num-anime-categoria-x">{{animae6}}</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/7">{{cat7}}  <div class="num-anime-categoria-x">{{animae7}}</div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/8">{{cat8}} <div class="num-anime-categoria-x">{{animae8}}</div></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 grid-element">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-xs-2">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-10 category-text">
                                        <a href="#/animae-free/category/9">{{cat9}} <div class="num-anime-categoria-x">{{animae9}}</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.row -->
            
            <hr>
            
            <!--  List   -->
            
            <div class="row">
                <div class="xs-col-12 table-wrapper">
                   
                    <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-pagination></div>
                    
                </div>
            </div>
            
            
        </div>
        <!-- /#page-wrapper -->
